<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>39146897989-qudnnsq1uo431ab8vgliiad09cugbiep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39146897989-qudnnsq1uo431ab8vgliiad09cugbiep</string>
	<key>API_KEY</key>
	<string>AIzaSyDCY_81R1ZPeoTO8fBvTvFaUSTQSTTMzHo</string>
	<key>GCM_SENDER_ID</key>
	<string>39146897989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>szymonkaz.friendlyChat</string>
	<key>PROJECT_ID</key>
	<string>my-firebase-flutter-proj-db25e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-firebase-flutter-proj-db25e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39146897989:ios:f7e6ab32bce74803</string>
	<key>DATABASE_URL</key>
	<string>https://my-firebase-flutter-proj-db25e.firebaseio.com</string>
</dict>
</plist>